.clock {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}


.container_digital {
    width: 200px;
    height: 50px;
    background-color: black;
    border: 3px orange solid;
    border-radius: 3px;
}

.time_digital {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}


.container_pointer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
}

.arrow {
    margin: 0 auto;
    width: 1px;
    height: 100px;
    background-color: white;
    transform: rotate(50deg);
}
