.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #696969;
    color: white;
    text-align: center;
    font-size: 18px;
}