.on {
    background-color: green;
    border: 1px green solid;
}

.off {
    background-color: red;
    border: 1px red solid;
}

.circle-green {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.circle-red {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.but__container {
    margin-top: 100px;
    display: flex;
}